@using DreamCar.Constants.Extensions
@using DreamCar.Web.Controllers

@model DreamCar.Models.Dto.Car.CarListFilter

<div class="row">

    <br />

    <form action="@(nameof(DealerController.SetFilter).RemoveControllerSuffix())" method="get" class="box">

        <div class="row">
            
            <div class="col-xs-4">
                @Html.LabelFor(x => x.Description)
                <input name="@Html.NameFor(x => x.Description)" value="@Html.ValueFor(x => x.Description)" class="form-control" pattern="^(\w{0}|\w{3,20})$"/>

                @Html.ValidationMessageFor(x => x.Description)
            </div>
            
            <div class="col-xs-4">
                @Html.LabelFor(x => x.DealerId)
                <select name="@Html.NameFor(x => x.DealerId)" class="form-control">
                    <option value="" selected="selected"></option>
                    @foreach (var dealer in Model.Dealers)
                    {
                        if (dealer.Id == Model.DealerId)
                        {
                            <option selected="selected" value="@dealer.Id">@dealer.Name</option>
                        }
                        else
                        {
                            <option value="@dealer.Id">@dealer.Name</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(x => x.DealerId)
            </div>
            
            <div class="col-xs-4">
                <label>&ensp;</label>
                <br/>
                <input type="submit" value="Filter" class="btn btn-info"/>
            </div>
        </div>

    </form>
</div>
